* {
    font-family: 'Jost', sans-serif;
    font-size: 10px;
}

body {
    width: 100%;
    box-sizing: border-box;
}

header h1 {
    margin: 0px;
    padding: 100px;
    text-align: center;
    font-size: 80px;
    background-image: url(img/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;

}

.nav1 {
    padding: 20px;
    padding-right: 0px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
    /* Remove spaces inside container */
    margin: 0;
    /* Remove space outside container */
    background-color: rgb(75, 230, 75);
}

.nav1 a {
    text-decoration: none;
    color: black;
    font-size: 35px;
    font-weight: 500;
    margin: 10px;
    padding: 10px;
}

.nav1 a:hover {
    color: red;
}

#main-page {
    color: red;
}

#about {
    font-size: 40px;
}

.section_1 p {
    font-size: 30px;
}

.main-image {
    width: 100vw;
    height: auto;
}

.section_2 ul {
    padding: 0px;
    margin-left: 100px;
    font-size: 30px;
    list-style: none;
}

.section_2 h2 {
    font-size: 40px;
}

.text-advantages {
    font-size: 3rem;
}

.section_3 h2 {
    font-size: 40px;
}

.section_3 th,
td {
    border: 1px solid black;
    font-size: 30px;
}

table {
    border-collapse: collapse;
    margin-left: 30px;
    display: flex;
    justify-content: center;
}

th,
td {
    text-align: center;
}

#contacts p,
#contacts a {
    color: white;
    font-size: 30px;
    text-decoration: none;
}

#contacts {
    background-color: black;
    padding: 20px;
    margin-top: 10px;
    width: auto;
    box-sizing: border-box;
}

.table-photo {
    width: 400px;
    height: auto;
    padding: 10px;
    border-radius: 15px;
}

.abc {
    padding-left: 10px;
    padding-right: 20px;
}


@media (max-width: 1100px) {
    .main-image {
        width: 100%;
        height: auto'

    }

    .nav1 {
        display: flex;
        justify-content: space-between;
        /* Align elements with equal spacing */
        flex-wrap: wrap;
        /* Allow line breaks if needed */
        padding: 0;
        /* Remove space between container and first/last element */
    }
}

@media (max-width: 800px) {

    #name-company {
        font-size: 30px;
        padding: 50px;
    }


    h1 {
        text-align: center;
    }

    .main-image {
        width: 100%;
        height: auto'

    }

    .nav1 {
        display: flex;
        flex-direction: column;
        /* Arrange elements vertically */
        align-items: center;
        /* Center along the cross axis */
        padding: 0;
        /* Remove space between container and first/last element */
    }

    .nav1 a {
        font-size: calc(35px + 4px);
        /* Increase the font size of the link by 4px */
        margin: 5px 0;
    }

    table,
    th,
    td {
        font-size: calc(100% - 2px);
        /* Reduce font size by 2px */
    }
}

@media (max-width: 400px) {

    table,
    th,
    td {
        font-size: calc(100% - 2px);
        /* Reduce font size by 2px */
    }
}

@media (max-width: 360px) {

    #name-company {
        font-size: 30px;
        padding: 40px;
    }

    table,
    td {
        font-size: 0.3 rem;

    }

    table {
        margin: 0;
    }

    .section_3 h2{
        font-size: 2rem;
    }

    .section_3 th {
        font-size: 10px;
    }

    .table-photo {
        width: 40vw;
        height: auto;
        padding: 5px;
        border-radius: 15px;
    }

    .nav1 a {
        font-size: 2rem;
        padding: 0;
    }

    #about {
        font-size: 2rem;
    }

    .section_1 p {
        font-size: 1.5rem;
    }

    .section_2 h2 {
        font-size: 2rem;
    }

    .section_2 ul {
        margin-left: 10px;
    }

    .text-advantages {
        font-size: 1.5rem;
    }
    
    #contacts p,
#contacts a {
    font-size: 1.5rem;
}
}